# Ignore everything
*

!src/
!src/**/
!src/**/*.cpp
!src/**/*.c
!src/**/*.h
!src/**/*.hpp

!include/
!include/**/
!include/**/*.cpp
!include/**/*.c
!include/**/*.h
!include/**/*.hpp

!test/
!test/**/
!test/**/*.cpp
!test/**/*.c
!test/**/*.h
!src/**/*.hpp
!test/**/CMakeLists.txt
!CMakeLists.txt
!Makefile

!*.md
!**/*.md

!protos
!protos/*.proto

!third_party/
!third_party/libpg_query/
!third_party/libpg_query/**

!.gitignore
!.gitattributes
!.github/
!.github/**
!.pre-commit-config.yaml
!.clang-format
!.cz.toml
!.clang-tidy
!CPPLINT.cfg
!.clang-format-ignore
!.gitmodules
